<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.bindings">
      <scheme name="%keyConfiguration.common.name"
              description="%keyConfiguration.common.description"
              id="org.eclipse.e4.ui.keys.commonScheme">
      </scheme>
      <key commandId="org.eclipse.ui.newWizard"
           sequence="M1+N"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.close"
           sequence="M1+W"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.close"
           sequence="M1+F4"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.closeAll"
           sequence="M1+M2+W"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.closeAll"
           sequence="M1+M2+F4"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.save"
           sequence="M1+S"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.saveAll"
           sequence="M1+M2+S"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.rename"
           sequence="F2"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.print"
           sequence="M1+P"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.properties"
           sequence="M3+CR"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.file.properties"
           platform="cocoa"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M1+I" />
      <key commandId="org.eclipse.ui.file.properties"
           platform="carbon"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M1+I" />
      <key commandId="org.eclipse.ui.file.refresh"
           sequence="F5"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.undo"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+Z"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.redo"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+Y"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+Y"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.redo"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+M2+Z"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           platform="carbon" />
      <key platform="gtk"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+Y"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.redo"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+M2+Z"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           platform="gtk" />
      <key commandId="org.eclipse.ui.edit.cut"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+X"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.copy"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+C"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.paste"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+V"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.selectAll"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+A"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.delete"
           sequence="DEL"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.findReplace"
           sequence="M1+F"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.navigate.next"
           sequence="M1+."
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.navigate.previous"
           sequence="M1+,"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.navigate.backwardHistory"
           sequence="M3+ARROW_LEFT"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           sequence="M3+ARROW_LEFT"
           commandId=""
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           commandId="org.eclipse.ui.navigate.backwardHistory"
           sequence="COMMAND+["
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           commandId="org.eclipse.ui.navigate.backwardHistory"
           sequence="COMMAND+ALT+ARROW_LEFT"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.navigate.forwardHistory"
           sequence="M3+ARROW_RIGHT"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           sequence="M3+ARROW_RIGHT"
           commandId=""
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           commandId="org.eclipse.ui.navigate.forwardHistory"
           sequence="COMMAND+]"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           commandId="org.eclipse.ui.navigate.forwardHistory"
           sequence="COMMAND+ALT+ARROW_RIGHT"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.openEditorDropDown"
           sequence="M1+E"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.switchToEditor"
           sequence="M1+M2+E"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.showContextMenu"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           platform="carbon"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="SHIFT+F10" />
      <key commandId="org.eclipse.ui.window.showSystemMenu"
           sequence="M3+-"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           sequence="M3+-"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.showSystemMenu"
           platform="carbon"
           sequence="M1+M2+F10"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.showViewMenu"
           sequence="M1+F10"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.activateEditor"
           sequence="F12"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <!-- F12 is the Dashboard on carbon -->
      <key platform="carbon"
           sequence="F12"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.activateEditor"
           platform="carbon"
           sequence="M1+F12"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.maximizePart"
           sequence="M1+M"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <!-- Cmd+M is used for Minimize Window in cocoa -->
      <key platform="cocoa"
           sequence="M1+M"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.maximizePart"
           platform="cocoa"
           sequence="M4+M"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.nextEditor"
           sequence="M1+F6"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.previousEditor"
           sequence="M1+M2+F6"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.nextView"
           sequence="M1+F7"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.previousView"
           sequence="M1+M2+F7"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.nextPerspective"
           sequence="M1+F8"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.window.previousPerspective"
           sequence="M1+M2+F8"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           sequence="M1+F4"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           sequence="M1+M2+F4"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           sequence="M1+,"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.navigate.previous"
           platform="carbon"
           sequence="M1+M2+."
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.cut"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M2+DEL"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           commandId=""
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M2+DEL"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.copy"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+INSERT"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           commandId=""
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M1+INSERT"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.paste"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M2+INSERT"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key platform="carbon"
           commandId=""
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           sequence="M2+INSERT"
           schemeId="org.eclipse.e4.ui.keys.commonScheme" />
      <key commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+SPACE" />
      <!-- Command+SPACE+* is reserved on carbon, hardcode to CTRL -->
      <key commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+M2+SPACE" />
      <!-- Command+SPACE+* is reserved on carbon, hardcode to CTRL -->
      <!-- Special content assist key bindings for the Chinese language to prevent conflict with IME -->
      <key locale="zh"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+SPACE" />
      <key locale="zh"
           commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+/" />
      <key locale="zh"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+M2+SPACE" />
      <key locale="zh"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+?" />
      <key locale="zh"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M2+M3+?" />
      <!-- Content assist key binding for the Japanese language to prevent conflict with IME on GTK -->
      <key locale="ja"
           platform="gtk"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+SPACE" />
      <key locale="ja"
           platform="gtk"
           commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+/" />
      <key locale="ja"
           platform="gtk"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+M2+SPACE" />
      <key locale="ja"
           platform="gtk"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+?" />
      <key locale="ja"
           platform="gtk"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M2+M3+?" />
      <!-- Content assist key binding for the Korean language to prevent conflict with IME on GTK -->
      <key locale="ko"
           platform="gtk"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+SPACE" />
      <key locale="ko"
           platform="gtk"
           commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+/" />
      <key locale="ko"
           platform="gtk"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+M2+SPACE" />
      <key locale="ko"
           platform="gtk"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+?" />
      <key locale="ko"
           platform="gtk"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M2+M3+?" />
      <!-- Content assist key binding for the Japanese language to prevent conflict with IME on Motif -->
      <key locale="ja"
           platform="motif"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+SPACE" />
      <key locale="ja"
           platform="motif"
           commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+/" />
      <key locale="ja"
           platform="motif"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+M2+SPACE" />
      <key locale="ja"
           platform="motif"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+?" />
      <key locale="ja"
           platform="motif"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M2+M3+?" />
      <!-- Content assist key binding for the Korean language to prevent conflict with IME on Motif -->
      <key locale="ko"
           platform="motif"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+SPACE" />
      <key locale="ko"
           platform="motif"
           commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+/" />
      <key locale="ko"
           platform="motif"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="CTRL+M2+SPACE" />
      <key locale="ko"
           platform="motif"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+?" />
      <key locale="ko"
           platform="motif"
           commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M2+M3+?" />
      <key commandId="org.eclipse.ui.navigate.collapseAll"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M1+M2+NUMPAD_DIVIDE">
      </key>
      <key commandId="org.eclipse.ui.navigate.expandAll"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M1+M2+NUMPAD_MULTIPLY">
      </key>
      <key commandId="org.eclipse.ui.navigate.nextSubTab"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+PAGE_DOWN">
      </key>
      <key commandId="org.eclipse.ui.navigate.previousSubTab"
           contextId="org.eclipse.ui.contexts.dialogAndWindow"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+PAGE_UP">
      </key>
      <key commandId="org.eclipse.ui.part.nextPage"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M3+F7">
      </key>
      <key commandId="org.eclipse.ui.part.previousPage"
           schemeId="org.eclipse.e4.ui.keys.commonScheme"
           sequence="M2+M3+F7">
      </key>
   </extension>
</plugin>
