<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectConfigurators">
      <projectConfigurator
            class="org.eclipse.pde.internal.ui.wizards.BundleProjectConfigurator"
            label="Eclipse Plugin/OSGi Bundle">
         <activeWhen>
            <hasFile
                  path="META-INF/MANIFEST.MF">
            </hasFile>
         </activeWhen>
      </projectConfigurator>
      <projectConfigurator
            class="org.eclipse.pde.internal.ui.wizards.FeatureProjectConfigurator"
            label="Eclipse Feature">
         <activeWhen>
            <hasFile
                  path="feature.xml">
            </hasFile>
         </activeWhen>
      </projectConfigurator>
   </extension>
</plugin>
