<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.workbench.model"
         id="processors">
      <processor
            beforefragment="false"
            class="org.eclipse.e4.ui.css.model.workbench.internal.CSSWorkbenchEngineInstaller">
      </processor>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.eclipse.e4.ui.css.model.workbench.internal.CSSElementProvider">
         <widget
               class="org.eclipse.e4.ui.model.application.MApplicationElement"></widget>
      </provider>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.model.workbench.internal.elements.WMUIElement"
            handler="org.eclipse.e4.ui.css.model.workbench.internal.properties.CSSWorkbenchRendererPropertyHandler">
         <property-name
               name="eclipse-renderer">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.model.workbench.internal.elements.WMUIElement"
            handler="org.eclipse.e4.ui.css.model.workbench.internal.properties.CSSWorkbenchVisibilityHandler">
         <property-name
               name="visibility">
         </property-name>
         <property-name
               name="wm-toBeRendered">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.model.workbench.internal.elements.WMUIElement"
            handler="org.eclipse.e4.ui.css.model.workbench.internal.properties.CSSWorkbenchUILabelProperties">
         <property-name
               name="icon">
         </property-name>
         <property-name
               name="wm-label">
         </property-name>
         <property-name
               name="wm-tooltip">
         </property-name>
      </handler>
   </extension>

</plugin>
