<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.e4.core.macros.macroStateListeners">
      <macroStateListener
            class="org.eclipse.ui.workbench.texteditor.macros.internal.EditorPartMacroInstaller">
      </macroStateListener>
      <macroStateListener
            class="org.eclipse.ui.workbench.texteditor.macros.internal.MacroStyledTextInstaller">
      </macroStateListener>
   </extension>

   <extension
         point="org.eclipse.e4.core.macros.macroInstructionsFactory">
      <macroInstructionsFactory
            class="org.eclipse.ui.workbench.texteditor.macros.internal.StyledTextKeyDownMacroInstructionFactory"
            macroInstructionId="KeyEvent">
      </macroInstructionsFactory>
   </extension>

   <extension point="org.eclipse.e4.core.macros.commandHandling">
      <coreCommand id="org.eclipse.ui.edit.text.contentAssist.proposals" recordMacroInstruction="false"/>
      <coreCommand id="org.eclipse.ui.edit.text.quick_assist.proposals" recordMacroInstruction="false"/>
   </extension>

</plugin>
