<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.e4.examples.webintegration.orion.editor.plugin.Editor"
            default="true"
            extensions="js"
            icon="orion-old/images/silk/page.png"
            id="org.eclipse.e4.examples.webintegration.plugins.editors.orion"
            name="Embedded Orion Editor">
      </editor>
   </extension>
</plugin>
