<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectConfigurators">
      <projectConfigurator
            class="org.eclipse.jdt.ui.wizards.JavaProjectNature"
            label="Java">
         <activeWhen>
            <hasFileWithSuffixRecursively
                  suffix=".java">
            </hasFileWithSuffixRecursively>
         </activeWhen>
      </projectConfigurator>
      <projectConfigurator
            class="org.eclipse.jdt.ui.wizards.JDTProjectNature"
            label="JDT">
         <activeWhen>
            <hasFile
                  path=".classpath">
            </hasFile>
         </activeWhen>
      </projectConfigurator>
   </extension>
</plugin>
