<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.propertyPages">
   		<page
            class="org.eclipse.ui.resources.natures.ProjectNaturesPage"
            id="org.eclipse.ui.propertypages.project.natures"
            name="%PropertyPages.project.natures"
            >
         <filter
               name="open"
               value="true">
         </filter>
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="unknownNature"
         name="%unknownNatureMarkerName"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="natureId">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.e4.ui.naturist.AttachListenerToWorkspace">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.e4.ui.naturist.EditProjectNaturesQuickfixGenerator"
            markerType="org.eclipse.e4.ui.naturist.unknownNature">
      </markerResolutionGenerator>
   </extension>
</plugin>
